@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body {
  font-family: 'Bad Script', cursive;
  font-size: 16px;
  color: black;
  
}

button {
  background-color: #3D80CC;
  width: 10em;
  height: 3rem;
  color: white;
  font-family: inherit;
  border-radius: 0.5em;
  margin: 1em;
  font-size: 1.2em;
}
ul li {
  list-style: none;
}

/* Main Container Section */
.main-container {
  height: 99vh;
  margin: 0px 3em;
}

.main-container .title{
  color: #3D80CC;
  font-size: 2em;
}

/* 
  ###### Introduction Section  #########
*/

.intro-div {
  display: flex;
  border: solid;
  flex-wrap: wrap;
  text-align: center;
  
}

.intro-div .intro-sec{
  flex: 0 0 40%;
  padding: 2em;
}

.intro-div .intro-title {
 
  color: #3D80CC;
  font-size: 2em;
}

.intro-div p{
  font-size: 1.5em;
}

.intro-div .intro-sec .socialmedia-sec{
  border: solid;
}

.intro-div .intro-img{
  flex: 0 0 55%;
}

.intro-div img{
  width: 100%;
}

.intro-div .cando-sec {
  flex: 0 0 55%;
  padding: 2em;
}
.intro-div .cando-img {
  flex: 0 0 40%;
}

.intro-div .cando-sec ul {
  text-align: left;
}

/* 
  ####### Social Media Component
*/

.socialmedia-sec {
  display: block;
  font-size: 2em;
  color: white;
}

.socialmedia-sec a {
  background-color: #dbd5d5;
  border-radius: 50%;
  margin: 0 0.5rem;
}
.socialmedia-sec a:hover {
  background-color: #605c5c !important;
}

.twitter,.github,.linkedin, .stackOverflow, .gmail{
  margin: 0 0.5em;  
}

.linkedin {
  color: #0a66c2;
}
.twitter {
  color: rgb(29, 161, 242);
}
.github {
  color: black;
}
.stackOverflow {
  color: #f48024;
}
.gmail {
  color: #ea4335;
}

/* 
  ####### Technical Skills Component
*/

.skills-div {
  border: springgreen solid;
  display: flex;
  flex-wrap: wrap;
}

.skills-div .title {
  flex:0 0 100%;
}

.skill {
  display: flex;
  align-items: center;
}

.frontend-sec, .backend-sec{
  flex: auto;
  display: flex;
  flex-direction: column;
  
  
}

.frontend-sec span, .backend-sec span{
  font-size: 1.1em;
  font-weight: bold;
}

.progress-bar {
border: 1px solid;
border-radius: 50px;
height: 20px;
flex: 0 0 80%;

}

.filler {
  background:#207dda;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

/* 
  ####### Experiences Section
*/
.experiences-div {
  border: springgreen solid;
}







/* Medium screens */
@media all and (max-width: 800px) {
  .main-container {
    margin: 0 1em;
  }
  .intro-div .intro-sec{
    flex: auto;
  }

  .intro-div .cando-sec {
    flex: auto;
  }
  .intro-div .intro-img {
    flex: auto;
  }
  .intro-div .cando-img {
    flex: auto;
  }
  



  
}

/* Small screens */
@media all and (max-width: 500px) {

  body {
    font-size: 14px;
  }

  .main-container {
    margin: 0 1em;
  }

  .intro-div .intro-sec{
    flex: auto;
  }

  .intro-div .cando-sec {
    flex: auto;
  }
  .intro-div .intro-img {
    flex: auto;
  }
  .intro-div .cando-img {
    flex: auto;
  }
  /* .intro-div {
    flex-direction: column;
  } */

  .skills-div {
    flex-direction: column;
  }

}
